body {font-family: 'futura-pt';}
html, body, .slide div, .slide span, .slide applet, .slide object, .slide iframe,
.slide h1, .slide h2, .slide h3, .slide h4, .slide h5, .slide h6, .slide p, .slide blockquote, .slide pre,
.slide a, .slide abbr, .slide acronym, .slide address, .slide big, .slide cite, .slide code,
.slide del, .slide dfn, .slide em, .slide font, .slide img, .slide ins, .slide kbd, .slide q, .slide s, .slide samp,
.slide small, .slide strike, .slide strong, .slide sub, .slide sup, .slide tt, .slide var,
.slide dl, .slide dt, .slide dd, .slide ol, .slide ul, .slide li,
.slide fieldset, .slide form, .slide label, .slide legend,
.slide table, .slide caption, .slide tbody, .slide tfoot, .slide thead, .slide tr, .slide th, .slide td  {
font-size:17px;
line-height: 20px;
}

.slide a {
	color:#657e8b;
	text-decoration: none;
	font-weight: 600;
}

.slide a:hover {
	color: #3f5966;
	text-decoration: none;
}

.btn, .btn-primary, .btn-info, .btn-success, .btn-warning, .btn-danger, .btn-inverse {}

.slide .btn-primary, .slide .btn-info, .slide .btn-success, .slide .btn-warning, .slide .btn-danger, .slide .btn-inverse {
color:#fff;
}
.slide .btn-primary:hover, .slide .btn-info:hover, .slide .btn-success:hover, .slide .btn-warning:hover, .slide .btn-danger:hover, .slide .btn-inverse:hover {
color:#fff;
text-decoration: none;
}
.slide h1, .slide h2, .slide h3, .slide h4, .slide h5, .slide h6 {
	font-weight: normal; 
	line-height: 1em;  
}

.slide h1 {
font-size: 48px;
text-transform: uppercase;
letter-spacing: 2px;
}

.slide h2 {
font-size: 19px;
line-height: 2.0rem;
padding-top: 20px;
padding-bottom: 20px;

}

.slide h3 {
font-size: 18px;
line-height: 24px;
font-family: 'futura-pt';
font-weight: 600;
}

#slide6 h3{
	font-size: 28px;
	font-weight: 400;
}

#slide6 p{
	font-size: 16px;
	font-weight: 400;
}

#slide6 a{
	color: white;
}

.slide h4 {
font-size: 14px;
font-size: 1.4rem;
}

.slide h5 {
font-size: 14px;
font-size: 1.4rem;
}

.slide h6 {
font-size: 14px;
font-size: 1.4rem;
}

#footer p {
font-size: 15px;
color:white;
font-weight: 300;
}

#footer a {
/* customize_footer_link */ color: #64717D; /* customize_footer_link */
text-decoration: none;
font-weight: 300;
}

#footer a:hover {
/* customize_footer_link_hover */ color: #64717D; /* customize_footer_link_hover */
text-decoration: underline;
font-weight: 300;
}

#footer p {
	margin-bottom:0;
	display: inline;
}

.blue {
	color:#3a87ad;
}
.blue-inverse {
	color:#fff;
	background: #3a87ad;
}
.green {
	color:#468847;
}
.green-inverse {
	color:#fff;
	background: #468847;
}
.orange {
	color:#f89406;
}
.orange-inverse {
	color:#fff;
	background: #f89406;
}
.red {
	color:#b94a48;
}
.red-inverse {
	color:#fff;
	background: #b94a48;
}
.smallGrey {font-size: 1em; color: #B3B3B3;}

.img-rounded, .img-rounded img {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.img-circle, .img-circle img {
  -webkit-border-radius: 500px;
     -moz-border-radius: 500px;
          border-radius: 500px;
}

.img-polaroid {
	padding: 0; background: transparent; border: none;
	-webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

img.img-polaroid, .img-polaroid img, .framed {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}



/*------------------------  BASE-REM SIZING  */


@media (min-width: 1401px) {
	html {
		font-size: 12px;
	}
}

@media (max-width: 1400px) {
	html {
		font-size: 11px;
	}
}

/* target screen width  */
@media (max-width: 1280px) {
	html {
		font-size: 10px;
	}
}